<nav class="navbar navbar-expand-lg transparent fixed-top">
  <a class="navbar-brand" style="color:black" >Herolo - Home Assignment</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" style="color:black" routerLink="/LandingPage/HomePage" id="loginLink">Home</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" style="color:black" routerLink="/LandingPage/Favorites" id="registerLink">Favorites</a>
      </li>
    </ul>
  </div>
</nav>
 
