.image {
    width: 100%;
    height: auto;
    background-position: top;
    background-size: cover;
    position:relative;
}

div {
    position: relative;    
}

.main {
    width: auto;
    margin: 50px auto;
    position: absolute;
    top:9%;
    left:40%;  
    height: 100px;
}

.main {
    width: 50%;
    margin: 50px auto;
}



