.favBTN{
    background-color:#EC407A;
}

div.WD{
   position: absolute;
   top:28%;
   left:8%; 
   height: 45%;
   background-color:rgba(255, 255, 255, 0.466);
}

div.cityD{
    position: absolute;
    background: #f79840;; 
    top:2%;
    left:6px;
    width: auto;
}

.addTF{
    position:absolute; 
    top:4%;
    left: 80%;
}

.clsICN{
    position:absolute; 
    top:3%;
    left: 96%;
    height: 32px;
    width: 32px;
}

.SDays{
    position:absolute; 
    top:70%;
}

