<div class="container container-center border border-dark WD">

<!-- selected city name -->
<div class="container border border-dark CD">
<h1>Tel Aviv</h1>
</div>

<!-- <i class="fa fa-heart" aria-hidden="true"></i> -->

<div class="container col-md addTF"> 
   <input type="button" value="Add me to favorites" class="favBTN">
</div>

<button type="button" class="close clsICN" aria-label="Close" (click)="closeDetails()">
    <span aria-hidden="true">&times;</span>
</button>

<div class="container SDays">
<div class="row">

<div class="container col-md">
  <h3 class="text-center">49</h3>
</div>
            
<div class="container col-md">
 <h3 class="text-center">49</h3>
</div>

<div class="container col-md">
  <h3 class="text-center">49</h3>
</div>

<div class="container col-md">
  <h3 class="text-center">49</h3>
</div>

<div class="container col-md">
  <h3 class="text-center">49</h3>
</div>

</div>


</div>