<div class="container container-center border border-dark WD">

<div class="container border border-dark cityD">
<!-- <h1>{{city.LocalizedName}}</h1> -->
<h1>Tel Aviv</h1>
</div>

<!-- {{city |json}} -->

<!-- <i class="fa fa-heart" aria-hidden="true"></i> -->

<div class="container col-md addTF"> 
  <input type="button" value="Add me to favorites" class="text-white favBTN" (click)="addCityToFavorites()">
</div>

<button type="button" class="close clsICN" aria-label="Close" (click)="closeDetails()">
  <span aria-hidden="true">&times;</span>
</button>

<div class="container SDays">
<div class="row">
     
<div *ngFor="let t of cityNextWeather.DailyForecasts" class="container col-md">
 <h3 class="text-center">{{t.Temperature.Maximum.Value}} - {{t.Temperature.Minimum.Value}}</h3>
</div>

</div>
</div>